<div class="navbar navbar-expand-sm navbar-light navbar-lewagon pt-3 pb-3 mb-4">
  <%= link_to root_path, class: "navbar-brand" do %>
    <p class="h3">Reddit Clone</p>
    <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <div class="dropdown show">
        <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.full_name %>
        </a>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
          <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
      <% else %>
        <li class="float-right">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
